---
const { name, path, cover = "missing" } = Astro.props;
const cover_url = `/VirtualMoments/cover/${cover}.svg`;
---

<div id = {path} class = "card cover" style = {"background: url(" + cover_url + ") no-repeat center center/cover;"} >
    <div class = "card-body">
        <h5 class = "card-title">{name}</h5>
        <a class = "card-text" href={path}>{name}</a>
    </div>
</div>